.tarjeta-img {
    width: 50%;
    max-height: 200px !important;
    box-sizing: border-box;
    cursor: pointer;
 
    }

@media only screen and (max-width: 1000px) {
    

.tarjeta-img {
    max-height: 150px;
}

}