
.tarjeta-img {
  margin : 13px;
  width: 98%;
  max-height: 250px;
  box-sizing: border-box;
  cursor: pointer;

}
@media only screen and (max-width: 1000px) {
  
  .tarjeta-img {
      max-height: 150px;
  }
}