.home__banner {
    color: #fd4564;
    margin-bottom: 2rem;
    position: relative;
  }
  .home__bannert {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    left: 5rem;
    position: absolute;
    top: 2rem;
    width: 17rem;
    gap: 1rem;
    z-index: 99;
  }
  .Img {
    height: 350px;
    object-fit: fill;
    position: initial;
  
  }

  .home__bannert--big {
    font-size: 2rem;
  }

  @media only screen and (max-width: 1200px) {
   
  .Img {
    height: 300px;
  }
  }
  @media only screen and (max-width: 1000px) {
    
  }
  @media only screen and (max-width: 768px) {
    
  .Img {
    display: none;

  }

  }